<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Raypher_Pro.security">

    <!-- Biometric authentication permission -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raypher_Pro">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Raypher_Pro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SecurityReceiver: The "Ear" that listens for threat broadcasts -->
        <receiver
            android:name=".SecurityReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.raypher.SECURITY_ALERT"/>
            </intent-filter>
        </receiver>

        <!-- BlockActivity: The "Shield" that blocks unauthorized transactions -->
        <activity
            android:name=".BlockActivity"
            android:exported="false"
            android:theme="@style/Theme.Raypher_Pro"/>
    </application>

</manifest>